
<section class="content">

  <div class="recent-post">
    <p>Most Recent Posts By TechPeakers</p>
  </div>

  <% for entry in FeedEntry.all(:limit => 100, :order => "published_at desc") %>
    <div  class="post">

      <div class="pub-image">
        <% for person in User.where(:id => entry.publisher_id) %>
          <%= image_tag person.image %>
      </div>

      <div class="text-container">
        <h2 class="title"><%= link_to h(entry.name), entry.url %></h2>
        <p class="author"> By <%= person.name %> </p>
        <p class="summary"><%=h truncate(entry.summary, :length => 210)%>.</p>

        <div class="button-blue"> 
          <%= link_to "Read More", entry.url%>
        </div>

        <% end %>
        <!-- ends person -->
      </div>
    </div>
  <% end %>   
  <!-- ends feed entry loop -->
</section>

<section class="menu">
  <div class="menu-img">
    <div id="logo"></div>
    <div id="description">
      <p>A blog feed of all the individuals and companies participating in the current classTechPeaks.</p>
    </div>
    <div class="button-blue">
      <%= link_to "Learn More", "http://techpeaks.eu"%>
    </div>
    <div id="built-by">
      <p>Built by <%= link_to "@zachferland", "https://twitter.com/zachferland"%> in Trento, Italy</p>
    </div>
  </div>
</section>